@font-face {
    font-family: "ShareTechMono";
    src: local("ShareTechMono"),
        url("./fonts/ShareTechMono-Regular.ttf") format("truetype");
}

* {
    font-family: "ShareTechMono";
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(255, 255, 255);
    color: black;
}

h1 {
    margin: 2vh 0 1vh 0;
    margin-bottom: 4vh;
}

h2 {
    margin-bottom: 4vh;
    margin-top: 2vh;
}

p {
    max-width: 60%;
    font-size: 1.2em;
}

small {
    margin: 1vh 0 2vh 0;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    margin-bottom: 4vh;
}

li {
    margin: 1vh 0 1vh 4vh;
    font-size: 1em;
}

.Header,
.About,
.Three-d,
.Naturalis {
    min-height: 30vh;
    padding: 1vh 2vw 0 4vw;
}

.About,
.Naturalis {
    background-color: rgb(245, 255, 255);
}

div.About {
    min-height: 75vh;
}

.Header {
    margin: 2vh 2vw;
    display: flex;
    min-height: 2vh;
    justify-content: space-between;
    flex-direction: column;
}

.Header nav {
    display: flex;
}

.Header h1 {
    margin-bottom: 8vh;
    font-size: 4em;
}

/* max width */
@media (max-width: 480px) {
    html {
        padding: 1vh 6vw 0 6vw;
    }

    .Header {
        padding-top: 2vh;
        display: block;
    }

    .header-link {
        display: none;
    }

    .iframe-3d {
        width: 100%;
        margin-top: 3vh;
    }

    h1 {
        text-align: center;
        margin: 3.5vh 0 2vh 0;
    }

    a {
        margin: 1vh 0 1vh 0;
    }

    p {
        max-width: 100%;
    }

    #interpunct {
        margin: 0 2.5vw;
    }

    .live-project {
        text-align: center;
    }

    .Footer {
        text-align: center;
    }

    #about-img {
        max-width: 100%;
        padding-top: 5vh;
    }
}

/* min width */
@media (min-width: 481px) {
    #about-text-img p {
        max-width: 90%;
    }

    #Wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 90%;
    }

    #about-img {
        max-width: 40vw;
    }
}

.iframe-3d {
    margin: 0 auto;
    padding-bottom: 4vh;
}

.header-link {
    color: black;
    text-decoration: none;
    font-size: 2em;
    padding-left: 4vw;
}

.Three-d {
    display: flex;
    flex-direction: column;
}

.Naturalis {
    display: flex;
    flex-direction: column;
}

.Footer {
    padding: 2vh 2vw 2vh 2vw;
}

#interpunct {
    margin: 0 1vw;
}

.live-project {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 3vh;
}
